.history {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - 100px); 
    overflow: hidden;
    padding: 1rem;
    box-sizing: border-box;
}
button {
    padding: 0.5rem 1rem;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff3333;
}
